{% extends 'base.html.twig' %}

{% block body %}

        <div role="main" class="main">

            <section class="page-header page-header-classic">
                <div class="container">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col p-static">
                            <h1 data-title-border>{{ 'front.password.forget'|trans }}</h1>

                        </div>
                    </div>
                </div>
            </section>

            <div class="container">

                <div class="row">
                    <div class="col">

                        <div class="featured-boxes">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="featured-box featured-box-primary text-left mt-5 login">
                                        <div class="box-content">
                                            <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">{{ 'front.password.forget'|trans }}</h4>
                                            <p class="text-2 opacity-7">{{ 'front.password.forget.indice'|trans }}</p>
                                            <form id="frmLostPassword" method="post" class="needs-validation">
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <div class="alert alert-danger" id="errors_div_request" style="display: none;">

                                                        </div>
                                                        <div class="alert alert-success" id="success_div_request" style="display: none;">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <label class="font-weight-bold text-dark text-2">{{ 'front.login.username.email' |trans }}</label>
                                                        <input type="email" id="email" class="form-control form-control-lg" required>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <input type="submit" value="{{ 'front.submit' |trans }}" class="btn btn-primary btn-modern float-right forget-password-btn" data-loading-text="Loading...">
                                                        {{ include('frontend/includes/include-ajax-loader.html.twig') }}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.forget-password-btn').on('click', function () {
                let btn = $(this);
                let email = $('#email').val();
                let errorsDiv = $('#errors_div_request');
                let successDiv = $('#success_div_request');
                let loader = $('.loader');

                loader.css('opacity', 1);
                btn.prop('disabled', true);
                $.ajax({
                    url: "{{ path('ajax_security_generate_password') }}",
                    data: JSON.stringify({email: email}),
                    dataType: "json",
                    method : "POST",
                    contentType: 'application/json',
                    success: function (data) {
                        successDiv.show();
                        console.log(data)
                        if(data.code == '0'){
                            successDiv.show();
                            successDiv.html(' ');
                            successDiv.append("<p class='m-0'>"+data.response.message+"</p>");
                        }
                        else if (data.code == '-1'){
                            errorsDiv.show();
                            errorsDiv.html(' ');
                            errorsDiv.append("<p class='m-0'>"+data.response.message+"</p>");
                            setTimeout(function(){
                                errorsDiv.hide();
                            }, 3000);
                        }
                    },
                    error: function (a, b, c) {
                        console.log(a, b, c);
                    },
                    complete:function () {
                        loader.css('opacity', 0);
                        btn.prop('disabled', false);
                    }
                });
                return false;

            });

        });
    </script>
{% endblock %}
