{% extends 'base.html.twig' %}
{% block title %}{{ 'title'|trans }} - {{ 'front.signin'|trans }} {% endblock %}

{% block metas %}
    <meta name="title" content="{{ 'front.signin'|trans }}">
    <meta name="description" content="{{ 'front.signin'|trans }}">
    <meta property="og:title" content="{{ 'front.signin'|trans }}">
    <meta name="keywords" content="{{ 'front.signin'|trans }}">
{% endblock %}
{% block body %}

    <div role="main" class="main">

        <section class="page-header page-header-classic">
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col p-static">
                        <h1 data-title-border>{{ 'front.signin'|trans }}</h1>

                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="featured-boxes">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="featured-box featured-box-primary text-left mt-5 login">
                                    <div class="box-content">
                                        <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">{{ 'front.already.have.account'|trans }}</h4>
                                        <form action="{{ path('front_security_login') }}" id="frmSignIn" method="post" class="needs-validation">
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    {% if error %}
                                                        <div class="alert alert-danger">
                                                            <ul id="errors_modal">
                                                                {{ error.messageKey }}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <label class="font-weight-bold text-dark text-2">{{ 'front.login.username.email'|trans }}</label>
                                                    <input type="text" name="_username" value="{{ last_username }}" class="form-control form-control-lg" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <a class="float-right" href="{{ path('front_security_password_forget') }}">{{ 'front.password.forget'|trans }}</a>
                                                    <label class="font-weight-bold text-dark text-2">{{ 'front.password'|trans }}</label>
                                                    <input type="password" name="_password" class="form-control form-control-lg" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-6">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="rememberme">
                                                        <label class="custom-control-label text-2" for="rememberme">{{ 'front.rememberme'|trans }}</label>
                                                        <input type="hidden" name="_csrf_token"
                                                               value="{{ csrf_token('authenticate') }}"
                                                        >
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input type="submit" value="{{ 'front.signin'|trans }}" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
                                                    {{ include('frontend/includes/include-ajax-loader.html.twig') }}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock body %}
