<div class="col-sm-12 order-2 order-sm-2 align-self-center p-static search-estate">
    <div class="overflow-hidden">
        <ul class="custom-fullwidth-dropdown-menu ml-0">
            <li style="list-style-type: none;">
                <div class="dropdown-mega-content mt-3">
                    <form id="propertiesFormHeader" action=""
                          method="POST">
                        <div class="container p-0">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-12 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[type]"
                                            data-msg-required="This field is required."
                                            id="adverts-type">
                                        <option value="">{{ 'front.adverts.type'|trans }}</option>
                                        {% for advertType in advertTypes %}
                                            <option value="{{ advertType.id }}" data-code="{{ advertType.code|lower }}">{{ advertType.code|lower|trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 mb-1">
                                    <div style="display: flex;">
                                        <input type="text" class="form-control text-uppercase text-3"
                                               placeholder="{{ 'front.city'|trans }}">
                                        <input type="submit" value="{{ 'front.search'|trans }}"
                                               class="btn btn-secondary btn-lg text-uppercase text-3"
                                               name="adverts[city]">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[estate]"
                                            data-msg-required="This field is required."
                                            id="estate-type">
                                        <option value="">{{ 'front.estates.type'|trans }}</option>
                                        {% for estateType in estateTypes %}
                                            <option value="{{ estateType.id }}">{{ estateType.code|lower|trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[roomsMin]"
                                            data-msg-required="This field is required."
                                            id="adverts-rooms-min">
                                        <option value="" data-room="0">{{ 'front.bedrooms.min'|trans }}</option>
                                        <option value="1" data-room="1">{{ 'front.bedrooms1'|trans }}</option>
                                        <option value="2" data-room="2">{{ 'front.bedrooms2'|trans }}</option>
                                        <option value="3" data-room="3">{{ 'front.bedrooms3'|trans }}</option>
                                        <option value="4" data-room="4">{{ 'front.bedrooms4'|trans }}</option>
                                        <option value="5" data-room="5">{{ 'front.bedrooms5'|trans }}</option>
                                        <option value="6" data-room="6">{{ 'front.bedrooms6'|trans }}</option>
                                        <option value="7" data-room="7">{{ 'front.bedrooms7'|trans }}</option>
                                        <option value="8" data-room="8">{{ 'front.bedrooms8'|trans }}</option>
                                        <option value="9" data-room="9">{{ 'front.bedrooms9'|trans }}</option>
                                        <option value="10" data-room="10">{{ 'front.bedrooms10'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[roomsMax]"
                                            data-msg-required="This field is required."
                                            id="adverts-rooms-max">
                                        <option value="" data-room="0">{{ 'front.bedrooms.max'|trans }}</option>
                                        <option value="1" data-room="1">{{ 'front.bedrooms1'|trans }}</option>
                                        <option value="2" data-room="2">{{ 'front.bedrooms2'|trans }}</option>
                                        <option value="3" data-room="3">{{ 'front.bedrooms3'|trans }}</option>
                                        <option value="4" data-room="4">{{ 'front.bedrooms4'|trans }}</option>
                                        <option value="5" data-room="5">{{ 'front.bedrooms5'|trans }}</option>
                                        <option value="6" data-room="6">{{ 'front.bedrooms6'|trans }}</option>
                                        <option value="7" data-room="7">{{ 'front.bedrooms7'|trans }}</option>
                                        <option value="8" data-room="8">{{ 'front.bedrooms8'|trans }}</option>
                                        <option value="9" data-room="9">{{ 'front.bedrooms9'|trans }}</option>
                                        <option value="10" data-room="10">{{ 'front.bedrooms10'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[areaMin]"
                                            data-msg-required="This field is required."
                                            id="adverts-area-min">
                                        <option value="">{{ 'front.area.min'|trans }}</option>
                                        <option value="50">50 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="100">100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="150">150 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="200">200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="250">250 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="300">300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="350">350 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="400">400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="450">450 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="500">500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="550">550 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="600">600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="650">650 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="700">700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="750">750 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="800">800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="850">800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="900">900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1000">1000 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1100">1100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1200">1200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1300">1300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1400">1400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1500">1500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1600">1600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1700">1700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1800">1800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1900">1900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2000">2000 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2100">2100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2200">2200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2300">2300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2400">2400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2500">2500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2600">2600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2700">2700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2800">2800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2900">2900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3000">3000 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3100">3100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3200">3200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3300">3300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3400">3400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3500">3500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3600">3600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3700">3700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3800">3800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3900">3900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="4000">4000 {{ 'front.metre.carre'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[areaMax]"
                                            data-msg-required="This field is required."
                                            id="adverts-area-max">
                                        <option value="">{{ 'front.area.max'|trans }}</option>
                                        <option value="50">50 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="100">100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="150">150 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="200">200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="250">250 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="300">300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="350">350 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="400">400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="450">450 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="500">500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="550">550 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="600">600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="650">650 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="700">700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="750">750 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="800">800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="850">800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="900">900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1000">1000 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1100">1100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1200">1200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1300">1300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1400">1400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1500">1500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1600">1600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1700">1700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1800">1800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="1900">1900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2000">2000 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2100">2100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2200">2200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2300">2300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2400">2400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2500">2500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2600">2600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2700">2700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2800">2800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="2900">2900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3000">3000 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3100">3100 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3200">3200 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3300">3300 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3400">3400 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3500">3500 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3600">3600 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3700">3700 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3800">3800 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="3900">3900 {{ 'front.metre.carre'|trans }}</option>
                                        <option value="4000">4000 {{ 'front.metre.carre'|trans }}</option>
                                    </select>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 mb-1" id="rent-type" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[rent]"
                                            data-msg-required="This field is required."
                                            id="adverts-rent">
                                        <option value="day">{{ 'front.rent.day'|trans }}</option>
                                        <option value="month">{{ 'front.rent.month'|trans }}</option>
                                        <option value="year">{{ 'front.rent.year'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 mb-1">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="33"
                                            data-msg-required="This field is required.">
                                        <option value="">{{ 'front.estate.status'|trans }}</option>
                                        {% for estateStatut in estateStatus %}
                                            <option value="{{ estateStatut.id }}">{{ estateStatut.code|lower|trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-sell">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMin]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-min">
                                        <option value=""  data-price="0">{{ 'front.price.min'|trans }}</option>
                                        <option value="100000" data-price="100000">{{ 100000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="200000" data-price="200000" >{{ 300000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="300000" data-price="300000">{{ 200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="400000" data-price="400000">{{ 400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="500000" data-price="500000">{{ 500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="600000" data-price="600000">{{ 600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="700000" data-price="700000">{{ 700000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="800000" data-price="800000">{{ 800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="900000" data-price="900000">{{ 900000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1000000" data-price="1000000">{{ 1000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1100000" data-price="1100000">{{ 1100000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1200000" data-price="1200000">{{ 1200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1300000" data-price="1300000">{{ 1300000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1400000" data-price="1400000">{{ 1400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1500000" data-price="1500000">{{ 1500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1600000" data-price="1600000">{{ 1600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1700000" data-price="1700000">{{ 1700000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1800000" data-price="1800000">{{ 1800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1900000" data-price="1900000">{{ 1900000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2000000" data-price="2000000">{{ 2000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2200000" data-price="2200000">{{ 2200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2400000" data-price="2400000">{{ 2400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2600000" data-price="2600000">{{ 2600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2800000" data-price="2800000">{{ 2800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="3250000" data-price="3250000">{{ 3250000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="3500000" data-price="3500000">{{ 3500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="3750000" data-price="3750000">{{ 3750000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4000000" data-price="4000000">{{ 4000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4250000" data-price="4250000">{{ 4250000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4500000" data-price="4500000">{{ 4500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4750000" data-price="4750000">{{ 4750000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="5000000" data-price="5000000">{{ 5000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="5500000" data-price="5500000">{{ 5500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="6000000" data-price="6000000">{{ 6000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="6500000" data-price="6500000">{{ 6500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="7000000" data-price="7000000">{{ 7000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="7500000" data-price="7500000">{{ 7500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="8000000" data-price="8000000">{{ 8000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="9000000" data-price="9000000">{{ 9000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="10000000" data-price="10000000">{{ 10000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="20000000" data-price="20000000">{{ 20000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="30000000" data-price="30000000">{{ 30000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="30000000" data-price="30000000">{{ 40000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="30000000" data-price="30000000">{{ 50000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-sell">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMin]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-max">
                                        <option value=""  data-price="0">{{ 'front.price.max'|trans }}</option>
                                        <option value="100000" data-price="100000">{{ 100000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="200000" data-price="200000" >{{ 300000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="300000" data-price="300000">{{ 200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="400000" data-price="400000">{{ 400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="500000" data-price="500000">{{ 500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="600000" data-price="600000">{{ 600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="700000" data-price="700000">{{ 700000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="800000" data-price="800000">{{ 800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="900000" data-price="900000">{{ 900000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1000000" data-price="1000000">{{ 1000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1100000" data-price="1100000">{{ 1100000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1200000" data-price="1200000">{{ 1200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1300000" data-price="1300000">{{ 1300000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1400000" data-price="1400000">{{ 1400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1500000" data-price="1500000">{{ 1500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1600000" data-price="1600000">{{ 1600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1700000" data-price="1700000">{{ 1700000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1800000" data-price="1800000">{{ 1800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="1900000" data-price="1900000">{{ 1900000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2000000" data-price="2000000">{{ 2000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2200000" data-price="2200000">{{ 2200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2400000" data-price="2400000">{{ 2400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2600000" data-price="2600000">{{ 2600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="2800000" data-price="2800000">{{ 2800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="3250000" data-price="3250000">{{ 3250000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="3500000" data-price="3500000">{{ 3500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="3750000" data-price="3750000">{{ 3750000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4000000" data-price="4000000">{{ 4000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4250000" data-price="4250000">{{ 4250000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4500000" data-price="4500000">{{ 4500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="4750000" data-price="4750000">{{ 4750000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="5000000" data-price="5000000">{{ 5000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="5500000" data-price="5500000">{{ 5500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="6000000" data-price="6000000">{{ 6000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="6500000" data-price="6500000">{{ 6500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="7000000" data-price="7000000">{{ 7000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="7500000" data-price="7500000">{{ 7500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="8000000" data-price="8000000">{{ 8000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="9000000" data-price="9000000">{{ 9000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="10000000" data-price="10000000">{{ 10000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="20000000" data-price="20000000">{{ 20000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="30000000" data-price="30000000">{{ 30000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="30000000" data-price="30000000">{{ 40000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                        <option value="30000000" data-price="30000000">{{ 50000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-rent-day" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMinDay]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-min-day">
                                        <option value="" data-price="0">{{ 'front.price.min'|trans }}</option>
                                        <option value="100" data-price="100"> 100 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="200" data-price="200"> 200 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="300" data-price="300"> 300 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="400" data-price="400"> 400 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="500" data-price="500"> 500 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="600" data-price="600"> 600 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="700" data-price="700"> 700 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="800" data-price="800"> 800 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="900" data-price="900"> 900 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="1000" data-price="1000"> 1,000 {{ 'front.currency.dh.day'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-rent-day" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMaxDay]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-max-day">
                                        <option value="" data-price="0">{{ 'front.price.max'|trans }}</option>
                                        <option value="100" data-price="100"> 100 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="200" data-price="200"> 200 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="300" data-price="300"> 300 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="400" data-price="400"> 400 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="500" data-price="500"> 500 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="600" data-price="600"> 600 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="700" data-price="700"> 700 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="800" data-price="800"> 800 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="900" data-price="900"> 900 {{ 'front.currency.dh.day'|trans }}</option>
                                        <option value="1000" data-price="1000"> 1,000 {{ 'front.currency.dh.day'|trans }}</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-rent-month" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMinMonth]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-min-month">
                                        <option value="" data-price="0">{{ 'front.price.min'|trans }}</option>
                                        <option value="100" data-price="100"> 100 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="500" data-price="500"> 500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="1000" data-price="1000"> 1,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="1500" data-price="1500"> 1,500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="2000" data-price="2000"> 2,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="2500" data-price="2500"> 2,500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="3000" data-price="3000"> 3,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="3500" data-price="3500"> 3,500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="4000" data-price="4000"> 4,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="5000" data-price="5000"> 5,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="6000" data-price="6000"> 6,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="7000" data-price="7000"> 7,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="8000" data-price="8000"> 8,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="9000" data-price="9000"> 9,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="10000" data-price="10000"> 10,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="20000" data-price="20000"> 20,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="30000" data-price="30000"> 30,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="40000" data-price="40000"> 40,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="50000" data-price="50000"> 50,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="60000" data-price="60000"> 60,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="70000" data-price="70000"> 70,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="80000" data-price="80000"> 80,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="90000" data-price="90000"> 90,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="100000" data-price="100000"> 100,000 {{ 'front.currency.dh.month'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-rent-month" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMaxMonth]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-max-month">
                                        <option value="" data-price="0">{{ 'front.price.max'|trans }}</option>
                                        <option value="100" data-price="100"> 100 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="500" data-price="500"> 500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="1000" data-price="1000"> 1,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="1500" data-price="1500"> 1,500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="2000" data-price="2000"> 2,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="2500" data-price="2500"> 2,500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="3000" data-price="3000"> 3,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="3500" data-price="3500"> 3,500 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="4000" data-price="4000"> 4,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="5000" data-price="5000"> 5,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="6000" data-price="6000"> 6,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="7000" data-price="7000"> 7,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="8000" data-price="8000"> 8,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="9000" data-price="9000"> 9,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="10000" data-price="10000"> 10,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="20000" data-price="20000"> 20,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="30000" data-price="30000"> 30,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="40000" data-price="40000"> 40,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="50000" data-price="50000"> 50,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="60000" data-price="60000"> 60,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="70000" data-price="70000"> 70,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="80000" data-price="80000"> 80,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="90000" data-price="90000"> 90,000 {{ 'front.currency.dh.month'|trans }}</option>
                                        <option value="100000" data-price="100000"> 100,000 {{ 'front.currency.dh.month'|trans }}</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-rent-year" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMinYear]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-min-year">
                                        <option value="" data-price="0">{{ 'front.price.min'|trans }}</option>
                                        <option value="100000" data-price="100000"> 100,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="150000" data-price="150000"> 150,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="200000" data-price="200000"> 200,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="250000" data-price="250000"> 250,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="300000" data-price="300000"> 300,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="350000" data-price="350000"> 350,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="400000" data-price="400000"> 400,000 {{ 'front.currency.dh.year'|trans }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-1 for-rent-year" style="display: none;">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                            name="adverts[priceMaxYear]"
                                            data-msg-required="This field is required."
                                            id="adverts-price-max-year">
                                        <option value="" data-price="0">{{ 'front.price.max'|trans }}</option>
                                        <option value="100000" data-price="100000"> 100,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="150000" data-price="150000"> 150,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="200000" data-price="200000"> 200,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="250000" data-price="250000"> 250,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="300000" data-price="300000"> 300,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="350000" data-price="350000"> 350,000 {{ 'front.currency.dh.year'|trans }}</option>
                                        <option value="400000" data-price="400000"> 400,000 {{ 'front.currency.dh.year'|trans }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>

<select id="price-sell" hidden style="display: none;">
    <option value=""  data-price="0">{{ 'front.price.max'|trans }}</option>
    <option value="100000" data-price="100000">{{ 100000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="200000" data-price="200000" >{{ 200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="300000" data-price="300000">{{ 300000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="400000" data-price="400000">{{ 400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="500000" data-price="500000">{{ 500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="600000" data-price="600000">{{ 600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="700000" data-price="700000">{{ 700000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="800000" data-price="800000">{{ 800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="900000" data-price="900000">{{ 900000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1000000" data-price="1000000">{{ 1000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1100000" data-price="1100000">{{ 1100000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1200000" data-price="1200000">{{ 1200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1300000" data-price="1300000">{{ 1300000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1400000" data-price="1400000">{{ 1400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1500000" data-price="1500000">{{ 1500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1600000" data-price="1600000">{{ 1600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1700000" data-price="1700000">{{ 1700000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1800000" data-price="1800000">{{ 1800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="1900000" data-price="1900000">{{ 1900000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="2000000" data-price="2000000">{{ 2000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="2200000" data-price="2200000">{{ 2200000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="2400000" data-price="2400000">{{ 2400000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="2600000" data-price="2600000">{{ 2600000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="2800000" data-price="2800000">{{ 2800000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="3250000" data-price="3250000">{{ 3250000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="3500000" data-price="3500000">{{ 3500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="3750000" data-price="3750000">{{ 3750000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="4000000" data-price="4000000">{{ 4000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="4250000" data-price="4250000">{{ 4250000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="4500000" data-price="4500000">{{ 4500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="4750000" data-price="4750000">{{ 4750000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="5000000" data-price="5000000">{{ 5000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="5500000" data-price="5500000">{{ 5500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="6000000" data-price="6000000">{{ 6000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="6500000" data-price="6500000">{{ 6500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="7000000" data-price="7000000">{{ 7000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="7500000" data-price="7500000">{{ 7500000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="8000000" data-price="8000000">{{ 8000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="9000000" data-price="9000000">{{ 9000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="10000000" data-price="10000000">{{ 10000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="20000000" data-price="20000000">{{ 20000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="30000000" data-price="30000000">{{ 30000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="40000000" data-price="40000000">{{ 40000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
    <option value="50000000" data-price="50000000">{{ 50000000|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}</option>
</select>
<select id="rent-month" style="display: none;" hidden>
    <option value="" data-price="0">{{ 'front.price.max'|trans }}</option>
    <option value="100" data-price="100"> 100 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="500" data-price="500"> 500 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="1000" data-price="1000"> 1,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="1500" data-price="1500"> 1,500 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="2000" data-price="2000"> 2,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="2500" data-price="2500"> 2,500 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="3000" data-price="3000"> 3,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="3500" data-price="3500"> 3,500 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="4000" data-price="4000"> 4,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="5000" data-price="5000"> 5,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="6000" data-price="6000"> 6,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="7000" data-price="7000"> 7,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="8000" data-price="8000"> 8,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="9000" data-price="9000"> 9,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="10000" data-price="10000"> 10,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="20000" data-price="20000"> 20,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="30000" data-price="30000"> 30,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="40000" data-price="40000"> 40,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="50000" data-price="50000"> 50,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="60000" data-price="60000"> 60,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="70000" data-price="70000"> 70,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="80000" data-price="80000"> 80,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="90000" data-price="90000"> 90,000 {{ 'front.currency.dh.month'|trans }}</option>
    <option value="100000" data-price="100000"> 100,000 {{ 'front.currency.dh.month'|trans }}</option>
</select>
<select id="rent-day" style="display: none;" hidden>
    <option value="" data-price="0">{{ 'front.price.max'|trans }}</option>
    <option value="100" data-price="100"> 100 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="200" data-price="200"> 200 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="300" data-price="300"> 300 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="400" data-price="400"> 400 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="500" data-price="500"> 500 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="600" data-price="600"> 600 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="700" data-price="700"> 700 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="800" data-price="800"> 800 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="900" data-price="900"> 900 {{ 'front.currency.dh.day'|trans }}</option>
    <option value="1000" data-price="1000"> 1,000 {{ 'front.currency.dh.day'|trans }}</option>
</select>
<select id="rent-year" style="display: none;" hidden>
    <option value="" data-price="0">{{ 'front.price.min'|trans }}</option>
    <option value="100000" data-price="100000"> 100,000 {{ 'front.currency.dh.year'|trans }}</option>
    <option value="150000" data-price="150000"> 150,000 {{ 'front.currency.dh.year'|trans }}</option>
    <option value="200000" data-price="200000"> 200,000 {{ 'front.currency.dh.year'|trans }}</option>
    <option value="250000" data-price="250000"> 250,000 {{ 'front.currency.dh.year'|trans }}</option>
    <option value="300000" data-price="300000"> 300,000 {{ 'front.currency.dh.year'|trans }}</option>
    <option value="350000" data-price="350000"> 350,000 {{ 'front.currency.dh.year'|trans }}</option>
    <option value="400000" data-price="400000"> 400,000 {{ 'front.currency.dh.year'|trans }}</option>
</select>
<select id="adverts-rooms" style="display: none;" hidden>
    <option value="" data-room="0">{{ 'front.bedrooms.max'|trans }}</option>
    <option value="1" data-room="1">{{ 'front.bedrooms1'|trans }}</option>
    <option value="2" data-room="2">{{ 'front.bedrooms2'|trans }}</option>
    <option value="3" data-room="3">{{ 'front.bedrooms3'|trans }}</option>
    <option value="4" data-room="4">{{ 'front.bedrooms4'|trans }}</option>
    <option value="5" data-room="5">{{ 'front.bedrooms5'|trans }}</option>
    <option value="6" data-room="6">{{ 'front.bedrooms6'|trans }}</option>
    <option value="7" data-room="7">{{ 'front.bedrooms7'|trans }}</option>
    <option value="8" data-room="8">{{ 'front.bedrooms8'|trans }}</option>
    <option value="9" data-room="9">{{ 'front.bedrooms9'|trans }}</option>
    <option value="10" data-room="10">{{ 'front.bedrooms10'|trans }}</option>
</select>
<select id="adverts-area" style="display: none;" hidden>
    <option value="" data-area="0">{{ 'front.area.min'|trans }}</option>
    <option value="50" data-area="50">50 {{ 'front.metre.carre'|trans }}</option>
    <option value="100" data-area="100">100 {{ 'front.metre.carre'|trans }}</option>
    <option value="150" data-area="150">150 {{ 'front.metre.carre'|trans }}</option>
    <option value="200" data-area="200">200 {{ 'front.metre.carre'|trans }}</option>
    <option value="250" data-area="250">250 {{ 'front.metre.carre'|trans }}</option>
    <option value="300" data-area="300">300 {{ 'front.metre.carre'|trans }}</option>
    <option value="350" data-area="350">350 {{ 'front.metre.carre'|trans }}</option>
    <option value="400" data-area="400">400 {{ 'front.metre.carre'|trans }}</option>
    <option value="450" data-area="450">450 {{ 'front.metre.carre'|trans }}</option>
    <option value="500" data-area="500">500 {{ 'front.metre.carre'|trans }}</option>
    <option value="550" data-area="550">550 {{ 'front.metre.carre'|trans }}</option>
    <option value="600" data-area="600">600 {{ 'front.metre.carre'|trans }}</option>
    <option value="650" data-area="650">650 {{ 'front.metre.carre'|trans }}</option>
    <option value="700" data-area="700">700 {{ 'front.metre.carre'|trans }}</option>
    <option value="750" data-area="750">750 {{ 'front.metre.carre'|trans }}</option>
    <option value="800" data-area="800">800 {{ 'front.metre.carre'|trans }}</option>
    <option value="850" data-area="850">850 {{ 'front.metre.carre'|trans }}</option>
    <option value="900" data-area="900">900 {{ 'front.metre.carre'|trans }}</option>
    <option value="1000" data-area="1000">1000 {{ 'front.metre.carre'|trans }}</option>
    <option value="1100" data-area="1100">1100 {{ 'front.metre.carre'|trans }}</option>
    <option value="1200" data-area="1200">1200 {{ 'front.metre.carre'|trans }}</option>
    <option value="1300" data-area="1300">1300 {{ 'front.metre.carre'|trans }}</option>
    <option value="1400" data-area="1400">1400 {{ 'front.metre.carre'|trans }}</option>
    <option value="1500" data-area="1500">1500 {{ 'front.metre.carre'|trans }}</option>
    <option value="1600" data-area="1600">1600 {{ 'front.metre.carre'|trans }}</option>
    <option value="1700" data-area="1700">1700 {{ 'front.metre.carre'|trans }}</option>
    <option value="1800" data-area="1800">1800 {{ 'front.metre.carre'|trans }}</option>
    <option value="1900" data-area="1900">1900 {{ 'front.metre.carre'|trans }}</option>
    <option value="2000" data-area="2000">2000 {{ 'front.metre.carre'|trans }}</option>
    <option value="2100" data-area="2100">2100 {{ 'front.metre.carre'|trans }}</option>
    <option value="2200" data-area="2200">2200 {{ 'front.metre.carre'|trans }}</option>
    <option value="2300" data-area="2300">2300 {{ 'front.metre.carre'|trans }}</option>
    <option value="2400" data-area="2400">2400 {{ 'front.metre.carre'|trans }}</option>
    <option value="2500" data-area="2500">2500 {{ 'front.metre.carre'|trans }}</option>
    <option value="2600" data-area="2600">2600 {{ 'front.metre.carre'|trans }}</option>
    <option value="2700" data-area="2700">2700 {{ 'front.metre.carre'|trans }}</option>
    <option value="2800" data-area="2800">2800 {{ 'front.metre.carre'|trans }}</option>
    <option value="2900" data-area="2900">2900 {{ 'front.metre.carre'|trans }}</option>
    <option value="3000" data-area="3000">3000 {{ 'front.metre.carre'|trans }}</option>
    <option value="3100" data-area="3100">3100 {{ 'front.metre.carre'|trans }}</option>
    <option value="3200" data-area="3200">3200 {{ 'front.metre.carre'|trans }}</option>
    <option value="3300" data-area="3300">3300 {{ 'front.metre.carre'|trans }}</option>
    <option value="3400" data-area="3400">3400 {{ 'front.metre.carre'|trans }}</option>
    <option value="3500" data-area="3500">3500 {{ 'front.metre.carre'|trans }}</option>
    <option value="3600" data-area="3600">3600 {{ 'front.metre.carre'|trans }}</option>
    <option value="3700" data-area="3700">3700 {{ 'front.metre.carre'|trans }}</option>
    <option value="3800" data-area="3800">3800 {{ 'front.metre.carre'|trans }}</option>
    <option value="3900" data-area="3900">3900 {{ 'front.metre.carre'|trans }}</option>
    <option value="4000" data-area="4000">4000 {{ 'front.metre.carre'|trans }}</option>
</select>
