{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }} - {{ 'front.advert.add'|trans }}{% endblock %}

{% block metas %}
    <meta name="title" content="{{ 'front.advert.add'|trans }}">
    <meta name="description" content="{{ 'front.advert.add'|trans }}">
    <meta property="og:title" content="{{ 'front.advert.add'|trans }}">
    <meta name="keywords" content="{{ 'front.advert.add'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://js.hereapi.cn/v3/3.0/mapsjs-ui.css" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-fileinput/fileinput.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .krajee-default .file-caption-info, .krajee-default .file-size-info{
            height: 20px;
        }
        .fileinput-remove,
        .fileinput-upload{
            display: none;
        }

    </style>
{% endblock %}
{% block body %}

    <div role="main" class="main">

        <section class="page-header page-header-classic">
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col p-static">
                        <h1 data-title-border>{{ 'front.advert.add'|trans }}</h1>

                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col">
                    <section class="card form-wizard" id="w4">
                        <header class="card-header">
                        </header>
                        <div class="card-body new-advert">
                            <div class="form-group mb-4">
                                {{ include('frontend/includes/include-flash.html.twig') }}
                            </div>
                            <div class="wizard-progress wizard-progress-lg">
                                <div class="steps-progress">
                                    <div class="progress-indicator"></div>
                                </div>
                                <ul class="nav wizard-steps">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#w4-info" data-toggle="tab"><span>1</span>{{ 'front.advert.information' |trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#w4-characteristic" data-toggle="tab"><span>2</span>{{ 'front.advert.characteristic' |trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#w4-image" data-toggle="tab"><span>3</span>{{ 'front.advert.image.emplacement' |trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#w4-description" data-toggle="tab"><span>4</span>{{ 'front.advert.description' |trans }}</a>
                                    </li>
                                </ul>
                            </div>

                            <form action="{{ path('front_advert_new') }}" class="form-horizontal p-3" novalidate="novalidate" id="advert-form" method="post" enctype="multipart/form-data">
                                <div class="tab-content">
                                    <div id="w4-info" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                <label class="required"> {{ 'front.adverts.type'|trans }}</label>
                                                    <select data-plugin-selectTwo class="form-control populate" name="adverts[advert_type]" required id="advert-type">
                                                        <option value="">{{ 'front.choose.option'|trans }}</option>
                                                        {% for advertType in advertTypes %}
                                                            <option value="{{ advertType.id }}" data-code="{{ advertType.code }}"> {{ advertType.code|lower|trans }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <div class="col-md-12" style="padding: 0;">
                                                        <label class="required" style="margin-right: 16px;margin-left: 16px;"> {{ 'front.estates.type'|trans }}</label>
                                                    </div>
                                                    {% for i, estateType in estateTypes %}
                                                        <div class="col-md-6 col-6">
                                                            <input type="radio" class="estateType" id="adverts_estateType_{{ estateType.id  }}" name="adverts[estateType]" data-code="{{ estateType.code|lower }}" value="{{ estateType.id }}" required {% if i==0 %}checked{% endif %}>
                                                            <label for="adverts_estateType_{{ estateType.id  }}">{{ estateType.code|lower|trans  }}</label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="required"> {{ 'front.estate.status'|trans }}</label>
                                                    <select data-plugin-selectTwo class="form-control populate" name="adverts[estate_status]" required>
                                                        <option value="">{{ 'front.choose.option'|trans }}</option>
                                                        {% for estateStatus in estatesStatus %}
                                                            <option value="{{ estateStatus.id }}"> {{ estateStatus.code|lower|trans }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="w4-characteristic" class="tab-pane">
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <span class="card-title">{{ 'front.advert.information'|trans }}</span>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="form-group col-sm-3">
                                                        <label class="required">{{ 'front.area'|trans }}</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" name="adverts[area]"
                                                                   aria-label="{{ 'front.area'|trans }}" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">{{ 'front.metre.carre'|trans }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <label class="required">{{ 'front.price'|trans }}</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" name="adverts[price]"
                                                                   aria-label="{{ 'front.price'|trans }}" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">{{ 'front.currency.dh'|trans }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-3 forRent">
                                                        <label class="required">{{ 'front.rent.time'|trans }}</label>
                                                        <div class="mb-3">
                                                            <input type="checkbox" class="estateType" id="for-rent-holiday" name="adverts[rentHoliday]" value="1">
                                                            <label for="for-rent-holiday">{{ 'front.rent.holiday'|trans }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-3 forRent">
                                                        <label class="required">{{ 'front.rent.type'|trans }}</label>
                                                        <div class="input-group mb-3">
                                                            <select data-plugin-selectTwo class="form-control populate" name="adverts[rentType]" id="for-rent-type">
                                                                <option value="day">{{ 'front.rent.day'|trans }}</option>
                                                                <option value="month">{{ 'front.rent.month'|trans }}</option>
                                                                <option value="year">{{ 'front.rent.year'|trans }}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-3 forSell" id="neuf" style="display: none;">
                                                        <label class="required">{{ 'front.estate.neuf'|trans }}</label>
                                                        <div class="mb-3">
                                                            <input type="checkbox" class="estateType" id="for-sell-neuf" name="adverts[neuf]" value="1">
                                                            <label for="for-sell-neuf">{{ 'front.neuf'|trans }}</label>
                                                        </div>
                                                    </div>

                                                    {#
                                                    <div class="form-group col-sm-3">
                                                        <label class="required">{{ 'front.rooms'|trans }}</label>
                                                        <div data-plugin-spinner data-plugin-options='{ "value":1, "min": 1, "max": 100 }'>
                                                            <div class="input-group" style="width:150px;">
                                                                <input type="text" class="spinner-input form-control" name="adverts[rooms]" maxlength="3" readonly required>
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-default spinner-up">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default spinner-down">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    #}

                                                    <div class="form-group col-sm-3" id="bathrooms" style="display: none;">
                                                        <label class="required">{{ 'front.bathrooms'|trans }}</label>
                                                        <div data-plugin-spinner data-plugin-options='{ "value":1, "min": 1, "max": 100 }'>
                                                            <div class="input-group" style="width:150px;">
                                                                <input type="text" class="spinner-input form-control" name="adverts[bathrooms]" maxlength="3" readonly required>
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-default spinner-up">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default spinner-down">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-3" id="bedrooms" style="display: none;">
                                                        <label class="required">{{ 'front.bedrooms'|trans }}</label>
                                                        <div data-plugin-spinner data-plugin-options='{ "value":1, "min": 1, "max": 100 }'>
                                                            <div class="input-group" style="width:150px;">
                                                                <input type="text" class="spinner-input form-control" name="adverts[bedrooms]" maxlength="3" readonly required>
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-default spinner-up">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default spinner-down">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-3" id="floor" style="display: none;">
                                                        <label class="required">{{ 'front.floor'|trans }}</label>
                                                        <select data-plugin-selectTwo class="form-control populate" name="adverts[floor]" required>
                                                            <option value="">{{ 'front.choose.option'|trans }}</option>
                                                            <option value="0">{{ 'front.floor0'|trans }}</option>
                                                            <option value="1">{{ 'front.floor1'|trans }}</option>
                                                            <option value="2">{{ 'front.floor2'|trans }}</option>
                                                            <option value="3">{{ 'front.floor3'|trans }}</option>
                                                            <option value="4">{{ 'front.floor4'|trans }}</option>
                                                            <option value="5">{{ 'front.floor5'|trans }}</option>
                                                            <option value="6">{{ 'front.floor6'|trans }}</option>
                                                            <option value="7">{{ 'front.floor7'|trans }}</option>
                                                            <option value="8">{{ 'front.floor8'|trans }}</option>
                                                            <option value="9">{{ 'front.floor9'|trans }}</option>
                                                            <option value="10">{{ 'front.floor10'|trans }}</option>
                                                            <option value="11">{{ 'front.floor11'|trans }}</option>
                                                            <option value="12">{{ 'front.floor12'|trans }}</option>
                                                            <option value="13">{{ 'front.floor13'|trans }}</option>
                                                            <option value="14">{{ 'front.floor14'|trans }}</option>
                                                            <option value="15">{{ 'front.floor15'|trans }}</option>
                                                            <option value="16">{{ 'front.floor16'|trans }}</option>
                                                            <option value="17">{{ 'front.floor17'|trans }}</option>
                                                            <option value="18">{{ 'front.floor18'|trans }}</option>
                                                            <option value="19">{{ 'front.floor19'|trans }}</option>
                                                            <option value="20">{{ 'front.floor20'|trans }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-3" id="age" style="display: none;">
                                                        <label class="required">{{ 'front.age'|trans }}</label>
                                                        <select data-plugin-selectTwo class="form-control populate" name="adverts[age]" required>
                                                            <option value="">{{ 'front.choose.option'|trans }}</option>
                                                            <option value="1">{{ 'front.age.1'|trans }}</option>
                                                            <option value="1-5">{{ 'front.age.1-5'|trans }}</option>
                                                            <option value="5-10">{{ 'front.age.5-10'|trans }}</option>
                                                            <option value="10-20">{{ 'front.age.10-20'|trans }}</option>
                                                            <option value="20-30">{{ 'front.age.20-30'|trans }}</option>
                                                            <option value="30-40">{{ 'front.age.30-40'|trans }}</option>
                                                            <option value="40-50">{{ 'front.age.40-50'|trans }}</option>
                                                            <option value="50-60">{{ 'front.age.50-60'|trans }}</option>
                                                            <option value="60-70">{{ 'front.age.60-70'|trans }}</option>
                                                            <option value="70-80">{{ 'front.age.70-80'|trans }}</option>
                                                            <option value="80-90">{{ 'front.age.80-90'|trans }}</option>
                                                            <option value="90-100">{{ 'front.age.90-100'|trans }}</option>
                                                            <option value="100">{{ 'front.age.100'|trans }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-3" id="soil" style="display: none;">
                                                        <label class="required">{{ 'front.soil.type'|trans }}</label>
                                                        <select data-plugin-selectTwo class="form-control populate" name="adverts[soil]" required>
                                                            <option value="">{{ 'front.choose.option'|trans }}</option>
                                                            <option value="parquet">{{ 'front.parquet'|trans }}</option>
                                                            <option value="marble">{{ 'front.marble'|trans }}</option>
                                                            <option value="tile">{{ 'front.tile'|trans }}</option>
                                                            <option value="other">{{ 'front.other'|trans }}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-sm-3 forRent" id="capacity" style="display: none">
                                                        <label class="required">{{ 'front.capacity'|trans }}</label>
                                                        <div data-plugin-spinner data-plugin-options='{ "value":1, "min": 1, "max": 100 }'>
                                                            <div class="input-group" style="width:150px;">
                                                                <input type="text" class="spinner-input form-control" id="for-rent-capacity" name="adverts[capacity]" maxlength="3" readonly>
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-default spinner-up">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default spinner-down">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-3 forRent" id="min_night" style="display: none;">
                                                        <label class="required">{{ 'front.min_night'|trans }}</label>
                                                        <div data-plugin-spinner data-plugin-options='{ "value":1, "min": 1, "max": 100 }'>
                                                            <div class="input-group" style="width:150px;">
                                                                <input type="text" class="spinner-input form-control" name="adverts[min_night]" maxlength="3" readonly id="for-rent-night">
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-default spinner-up">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default spinner-down">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <span class="card-title">{{ 'front.advert.characteristic'|trans }}</span>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    {% for character in characteristics %}
                                                        <div class="col-md-3" id="{{ character.code|lower }}" style="display: none;">
                                                            <a class="chooseIcon">
                                                                <div class="estate-icon-show">
                                                                    <i class="{{ character.icon }} estate-icon" style="text-align: center; font-size: 30px"></i>
                                                                    <span>{{ character.code|lower|trans }}</span>
                                                                </div>
                                                                <input type="checkbox" class="character" name="adverts[characteristics][]" value="{{ character.id }}" hidden required="required">
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="w4-image" class="tab-pane">
                                        <div class="form-group">
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <span class="card-title">{{ 'front.emplacement'|trans }}</span>
                                                </div>
                                                <div class="card-body row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group" id="address">
                                                            <label class="required">{{ 'front.address'|trans }}</label>
                                                            <input type="text" name="adverts[address]" class="form-control" id="address" required>
                                                            <input type="hidden" name="adverts[longitude]" id="longitude">
                                                            <input type="hidden" name="adverts[latitude]" id="latitude">
                                                        </div>
                                                        <div class="form-group" id="region-list">
                                                            <label class="required">{{ 'front.region'|trans }}</label>
                                                            <select name="adverts[region]" class="form-control populate" data-plugin-selectTwo id="regions" required>
                                                                <option>{{ 'front.choose.option'|trans }}</option>
                                                                {% for region in regions %}
                                                                    <option value="{{ region.id }}" data-code="{{ region.code }}">{{ region.code|trans }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group" id="province-list">
                                                            <label class="required">{{ 'front.province'|trans }}</label>
                                                            <select name="adverts[province]" class="form-control" class="form-control populate" data-plugin-selectTwo id="provinces" disabled>
                                                                <option>{{ 'front.choose.option'|trans }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group" id="city-list">
                                                            <label class="required">{{ 'front.city'|trans }}</label>
                                                            <select name="adverts[city]" class="form-control" class="form-control populate" data-plugin-selectTwo id="cities" disabled>
                                                                <option>{{ 'front.choose.option'|trans }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group" id="quartier-list">
                                                            <label class="required">{{ 'front.quartier'|trans }}</label>
                                                            <select name="adverts[quartier]" class="form-control" class="form-control populate" data-plugin-selectTwo id="quartiers" disabled>
                                                                <option>{{ 'front.choose.option'|trans }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div style="width: 540px; height: 380px; float: right;" id="mapContainer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <span class="card-title">{{ 'front.images'|trans }}</span>
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <div class="file-loading">
                                                            <input id="Image" name="adverts[]" type="file" class="file" multiple required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="w4-description" class="tab-pane">
                                       <div class="row">
                                           <div class="col-sm-6 mb-4">
                                               <div class="card card-info">
                                                   <div class="card-header">
                                                       <span class="card-title required">{{ "front.description"|trans }}</span>
                                                   </div>
                                                   <div class="card-body">
                                                      <div class="form-group">
                                                          <textarea class="form-control" required id="description" name="adverts[description]"></textarea>
                                                      </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-6 mb-4">
                                               <div class="card card-info">
                                                   <div class="card-header">
                                                       <span class="card-title required">{{ "front.title"|trans }}</span>
                                                   </div>
                                                   <div class="card-body">
                                                       <div class="form-group">
                                                           <input type="text" name="adverts[title]" id="title" required class="form-control">
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-6 mb-4">
                                               <div class="card card-info">
                                                   <div class="card-header">
                                                       <span class="card-title required">{{ "front.keywords"|trans }}</span>
                                                   </div>
                                                   <div class="card-body">
                                                       <div class="form-group">
                                                           <input type="text" name="adverts[keywords]" id="keywords" required class="form-control" data-role="tagsinput">
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-6 mb-4">
                                               <div class="card card-info">
                                                   <div class="card-header">
                                                       <span class="card-title required">{{ "front.seo.description"|trans }}</span>
                                                   </div>
                                                   <div class="card-body">
                                                       <div class="form-group">
                                                           <textarea type="text" name="adverts[seoDescription]" id="seoDescription" required class="form-control" maxlength="155"></textarea>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-4">
                                               <div class="card card-info">
                                                   <div class="card-header">
                                                       <span class="card-title required">{{ "front.contact"|trans }}</span>
                                                   </div>
                                                   <div class="card-body">
                                                       <div class="form-group">
                                                           <input type="tel" class="form-control telephone" id="tel" required minlength="8" maxlength="9" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                                                           <input type="hidden" name="adverts[tel]" id="advertTel" required>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <ul class="pager">
                                <li class="previous disabled">
                                    <a><i class="fas fa-angle-{{ app.request.locale == 'ar' ? 'right' : 'left' }}"></i> {{ 'front.previous'|trans }}</a>
                                </li>
                                <li class="finish hidden float-right">
                                    <a>{{ 'front.finish'|trans }}</a>
                                </li>
                                <li class="next">
                                    <a>{{ 'front.next'|trans }} <i class="fas fa-angle-{{ app.request.locale == 'ar' ? 'left' : 'right' }}"></i></a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>

        </div>

    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/bootstrap-fileinput/fileinput.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-fileinput/theme.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-fileinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('js/jquery.bootstrap.wizard.js') }}"></script>
    <script src="{{ asset('js/examples.wizard.js') }}"></script>

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

    {% if app.request.locale == 'ar' %}
        <script src="{{ asset('js/bootstrap-fileinput/ar.js') }}"></script>
    {% elseif app.request.locale == 'fr' %}
        <script src="{{ asset('js/bootstrap-fileinput/fr.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        $('.chooseIcon').on("click", function (event) {
            let iconDiv = $($(this)).children(".estate-icon-show");
            let checkbox = $($(this)).children(".character");
            if (iconDiv.hasClass('active')){
                iconDiv.removeClass('active');
                checkbox.prop("checked", false);
            }else{
                iconDiv.addClass('active');
                checkbox.prop("checked", true);
            }
        });

        $("#Image").fileinput({
            theme: 'fa',
            language: '{{ app.request.locale }}',
            uploadUrl: '#',
            allowedFileExtensions: ['jpg', 'png', 'jpeg'],
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });


        $('.telephone').on('keyup',function () {
            let indicative = $('#w4-description .iti__selected-dial-code').text();
            let $val = $(this).val();

            $('#advertTel').val(indicative+$val);
        });

    </script>

    <script>

        // Initialize the platform object:
        var platform = new H.service.Platform({
            'apikey': 'bXdx-YJ9AP7p8kKKn3_xNxDFd9PqttfQzJ5W39fS4c8'
        });

        var maptypes = platform.createDefaultLayers();
        var map = new H.Map(
            document.getElementById('mapContainer'),
            maptypes.vector.normal.map,
            {
                zoom: 6,
                center: { lng: -7.603869, lat: 33.589886 },
                pixelRatio: window.devicePixelRatio || 1
            }
        );

        var Marker = new H.map.Marker({lat:33.589886, lng:-7.603869});
        map.addObject(Marker);

        window.addEventListener('resize', () => map.getViewPort().resize());

        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // Create the default UI components
        var ui = H.ui.UI.createDefault(map, maptypes, 'fr-FR');
        // Instantiate (and display) a map object:

        function displayMap(longitude = 0, latitude = 0) {
            map.removeObjects(map.getObjects ())
            var group = new  H.map.Group(),
                position,
                i;

            position = {
                lat: latitude,
                lng: longitude
            };




            marker = new H.map.Marker(position);
            group.addObject(marker);

            group.addEventListener('tap', function (evt) {
                map.setCenter(evt.target.getGeometry());
                openBubble(
                    evt.target.getGeometry(), evt.target.label);
            }, false);

            // Add the locations group to the map
            map.addObject(group);
            map.setCenter(group.getBoundingBox().getCenter());
        }

    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#advert-type').on('change', function () {
                let $rentTypeSelected = $(this).children("option:selected").data('name');
                showForAdvertType($rentTypeSelected);
            });

            function showForAdvertType($rentTypeSelected){
                let $forRent = $('.forRent');
                let $forSell = $('.forSell');
                let $forRentId = $('[id^="for-rent"]');
                let $forSellId = $('[id^="for-sell"]');
                if ($rentTypeSelected == 'rent'){
                    $forRent.show();
                    $forRentId.prop('disabled', false);
                    $forSell.hide();
                    $forSellId.prop('disabled', true);
                } else if ($rentTypeSelected == 'sell') {
                    $forRent.hide();
                    $forRentId.prop('disabled', true);
                    $forSell.show();
                    $forSellId.prop('disabled', false);
                }
            }

            function showForAdvertTypeOnly($rentTypeSelected){
                let $forRent = $('.forRent');
                let $forSell = $('.forSell');
                let $forRentId = $('[id^="for-rent"]');
                let $forSellId = $('[id^="for-sell"]');
                if ($rentTypeSelected == 'rent'){
                    $forSell.hide();
                    $forSellId.prop('disabled', true);
                } else if ($rentTypeSelected == 'sell') {
                    $forRent.hide();
                    $forRentId.prop('disabled', true);
                }
            }
           //get provinces of region
           $('#regions').on('change', function () {
              let region = $(this).val();
               getLongAndLatByState( $(this).children("option:selected").html());
              let provinceSelect = $('#provinces');
              let provinceDev = $('#province-list');
               $('#city-list').prop('disabled', true);
               $('#quartier-list').prop('disabled', true);;
               $.ajax({
                   url: "{{ path('ajax_get_province_of_region') }}",
                   data: JSON.stringify({region: region}),
                   dataType: "json",
                   method : "POST",
                   contentType: 'application/json',
                   success: function (data) {
                       if (data.response.provinces.length > 0){
                           provinceDev.show();
                           provinceSelect.prop('disabled', false);
                           provinceSelect.prop('required', true);
                           provinceSelect.html('<option value="">{{ 'front.choose.option'|trans }}</option>');
                           $.each(data.response.provinces, function ($i, $v) {
                               provinceSelect.append('<option value="' + $v["id"] + '" data-code='+$v["name"]+'">' + $v["code"] + '</option>');
                           });
                       }

                   },
                   error: function (a, b, c) {
                       console.log(a, b, c);
                   },
                   complete:function () {
                   }
               });
           });

           //get quartier of city
           $('#cities').on('change', function () {
              let city = $(this).val();
               getLongAndLatByCity($(this).children("option:selected").html());
              let quartierSelect = $('#quartiers');
              let quartierDev = $('#quartier-list');
               $.ajax({
                   url: "{{ path('ajax_get_quartier_of_city') }}",
                   data: JSON.stringify({city: city}),
                   dataType: "json",
                   method : "POST",
                   contentType: 'application/json',
                   success: function (data) {
                       if (data.response.quartiers.length > 0){
                           quartierDev.show();
                           quartierSelect.prop('disabled', false);
                           quartierSelect.prop('required', true);
                           quartierSelect.html('<option value="">{{ 'front.choose.option'|trans }}</option>');
                           $.each(data.response.quartiers, function ($i, $v) {
                               quartierSelect.append('<option value="' + $v["id"] + '" data-code='+$v["name"]+'">' + $v["code"] + '</option>');
                           });
                       }else{
                           quartierDev.hide();
                       }

                   },
                   error: function (a, b, c) {
                       console.log(a, b, c);
                   },
                   complete:function () {
                   }
               });
           });

           //get city of province
           $('#provinces').on('change', function () {
              let province = $(this).val();
              let citySelect = $('#cities');
              let cityDev = $('#city-list');
               let quartiereDev = $('#quartier-list');
               getLongAndLatByCity($(this).children("option:selected").html());
               $.ajax({
                   url: "{{ path('ajax_get_city_of_province') }}",
                   data: JSON.stringify({province: province}),
                   dataType: "json",
                   method : "POST",
                   contentType: 'application/json',
                   success: function (data) {
                       if (data.response.cities.length > 0){
                           cityDev.show();
                           citySelect.prop('disabled', false);
                           citySelect.prop('required', true);
                           citySelect.html('<option value="">{{ 'front.choose.option'|trans }}</option>');
                           $.each(data.response.cities, function ($i, $v) {
                               citySelect.append('<option value="' + $v["id"] + '" data-code='+$v["name"]+'">' + $v["code"] + '</option>');
                           });
                       }else{
                           cityDev.hide();
                           quartiereDev.hide();
                       }

                   },
                   error: function (a, b, c) {
                       console.log(a, b, c);
                   },
                   complete:function () {
                   }
               });
           });


            $('#quartiers').on('change', function () {
                getLongAndLatByQuartier($(this).children("option:selected").html());
            });

           //sent
            $('.finish').on('click', function () {
               let form = $('#advert-form');

               if (form.valid()){
                   form.submit();
               }
            });

            //go to
            $('.next, .previous').on('click', function () {
               $('.card-body')[0].scrollIntoView();
            });


            function getLongAndLatByCity(city) {
                $.ajax({
                    url: 'https://geocoder.ls.hereapi.com/6.2/geocode.json',
                    type: 'GET',
                    dataType: 'jsonp',
                    async: false,
                    jsonp: 'jsoncallback',
                    data: {
                        city: city,
                        Country: 'MAR',
                        apiKey: 'bXdx-YJ9AP7p8kKKn3_xNxDFd9PqttfQzJ5W39fS4c8'
                    },
                    success: function (data) {
                        //data = JSON.stringify(data);
                        let $lat = data.Response.View[0].Result[0].Location.DisplayPosition.Latitude;
                        let $lng = data.Response.View[0].Result[0].Location.DisplayPosition.Longitude;
                        $('#latitude').val($lat);
                        $('#longitude').val($lng);

                        displayMap($lng, $lat)
                    }
                });

            }
            function getLongAndLatByState(state) {
                $.ajax({
                    url: 'https://geocoder.ls.hereapi.com/6.2/geocode.json',
                    type: 'GET',
                    dataType: 'jsonp',
                    async: false,
                    jsonp: 'jsoncallback',
                    data: {
                        State: state,
                        apiKey: 'bXdx-YJ9AP7p8kKKn3_xNxDFd9PqttfQzJ5W39fS4c8'
                    },
                    success: function (data) {
                        let $lat = data.Response.View[0].Result[0].Location.DisplayPosition.Latitude;
                        let $lng = data.Response.View[0].Result[0].Location.DisplayPosition.Longitude;
                        $('#latitude').val($lat);
                        $('#longitude').val($lng);

                        displayMap($lng, $lat)
                    }
                });
            }
            function getLongAndLatByQuartier(quartier) {
                $.ajax({
                    url: 'https://geocoder.ls.hereapi.com/6.2/geocode.json',
                    type: 'GET',
                    dataType: 'jsonp',
                    async: false,
                    jsonp: 'jsoncallback',
                    data: {
                        Street: quartier,
                        apiKey: 'bXdx-YJ9AP7p8kKKn3_xNxDFd9PqttfQzJ5W39fS4c8',
                        Country: 'MAR'
                    },
                    success: function (data) {
                        let $lat = data.Response.View[0].Result[0].Location.DisplayPosition.Latitude;
                        let $lng = data.Response.View[0].Result[0].Location.DisplayPosition.Longitude;
                        $('#latitude').val($lat);
                        $('#longitude').val($lng);

                        displayMap($lng, $lat)
                    }
                });
            }


            /*   characteristics */

            let $apartment = "#air_conditioner, #balcon, #concierge, #door, #heating, #elevator, #fireplace, #fridge_appliance, #garage, #internet, #microwave, #parabolic_antenna, #sea, #security_camera, #storage, #terrace, #washing_machine, #tv, #bathrooms, #floor, #bedrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $house = "#air_conditioner, #balcon, #mountainside, #elevator, #heating, #fireplace, #fridge_appliance, #garage, #garden, #internet, #parabolic_antenna, #sea, #security_camera, #terrace, #bathrooms, #floor, #badrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $office = "#air_conditioner, #elevator, #fireplace, #garage,  #heating, #internet, #parabolic_antenna, #security_camera, #concierge, #bathrooms, #floor, #bedrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $villa = "#air_conditioner, #pool, #fireplace, #garage, #puits, #mountainside, #heating, #parabolic_antenna, #security_camera, #terrace, #garden, #bathrooms, #floor, #badrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $terrain = "#agricole, #commercial, #lotissement, #montagne, #route, #sea, #tourbain, #urbain, #terrace, #garden";
            let $commercial = "#emplacement, #boulevard, #coproprie, #garage, #security_camera, #route, #alarm, #charge, #air_conditioner, #heating, #bathrooms, #floor, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $riad = "#garden, #terrace, #meuble, #hammam, #security_camera, #fridge_appliance, #pool, #heating, #air_conditioner, #fireplace, #pergola, #bathrooms, #bedrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $studio = "#garage, #parking, #elevator, #concierge, #security_camera, #balcon, #pool, #terrace, #pool, #fireplace, #air_conditioner, #heating, #fridge_appliance, #meuble, #internet, #parabolic_antenna, #storage, #rue, #boulevard, #sea, #bathrooms, #floor, #bedrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $ferme = "#house, #pool, #puits, #etable, #other_batiment, #arbres, #plantation, #goutegoute, #irrigation, #materiel, #roulant, #gardien, #reseau_electric, #reseau_eau, #route";
            let $duplex = "#garage, #parking, #elevator, #concierge, #security_camera, #balcon, #terrace, #pool, #garden_interieur, #fireplace, #air_conditioner,  #heating, #fridge_appliance, #internet, #parabolic_antenna,  #storage, #rue, #boulevard, #sea, #bathrooms, #floor, #badrooms, #estateStatus, #neuf, #age, #soil, #capacity, #min_night";
            let $batiment = "#industriel, #comercial, #habitation, #elevator, #charge, #cave, #garage, #parking, #autres, #floor";


            let $type = $('.estateType').data('code');

            if ($type == 'apartment'){
                $($apartment).show();
            }else if ($type == 'office') {
                $($office).show();
            }else if ($type == 'house'){
                $($house).show();
            }else if ($type == 'villa'){
                $($villa).show();
            }else if ($type == 'terrain'){
                $($terrain).show();
            }else if ($type == 'commercial'){
                $($commercial).show();
            }else if ($type == 'riad'){
                $($riad).show();
            }else if ($type == 'studio'){
                $($studio).show();
            }else if ($type == 'ferme'){
                $($ferme).show();
            }else if ($type == 'duplex'){
                $($duplex).show();
            }else if ($type == 'building'){
                $($batiment).show();
            }else{
                $($apartment).show();
            }

            $('.estateType').on('change', function () {
               let $type = $(this).data('code');

               if ($type == 'apartment'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($commercial).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($apartment).show();
               }else if ($type == 'office') {
                   $($house).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($commercial).hide();
                   $($apartment).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($office).show();
               }else if ($type == 'house'){
                   $($villa).hide();
                   $($commercial).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($office).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($house).show();
               }else if ($type == 'villa'){
                   $($terrain).hide();
                   $($apartment).hide();
                   $($commercial).hide();
                   $($office).hide();
                   $($house).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($villa).show();
               }else if ($type == 'terrain'){
                   $($apartment).hide();
                   $($office).hide();
                   $($commercial).hide();
                   $($house).hide();
                   $($villa).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($terrain).show();
               }else if ($type == 'commercial'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($commercial).show();
               }else if ($type == 'riad'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($commercial).hide();
                   $($riad).show();
               }else if ($type == 'studio'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($riad).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($commercial).hide();
                   $($studio).show();
               }else if ($type == 'ferme'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($commercial).hide();
                   $($ferme).show();
               }else if ($type == 'duplex'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($batiment).hide();
                   $($commercial).hide();
                   $($duplex).show();
               }else if ($type == 'building'){
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($apartment).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($commercial).hide();
                   $($batiment).show();
               }else{
                   $($commercial).hide();
                   $($house).hide();
                   $($office).hide();
                   $($villa).hide();
                   $($terrain).hide();
                   $($riad).hide();
                   $($studio).hide();
                   $($ferme).hide();
                   $($duplex).hide();
                   $($batiment).hide();
                   $($apartment).show();
               }

                let $rentTypeSelected = $('#advert-type').children("option:selected").data('code');
                showForAdvertTypeOnly($rentTypeSelected);

               //alert($type);
            });
        });
    </script>
{% endblock %}
