{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }} - {{ 'front.my_adverts'|trans }} {% endblock %}

{% block metas %}
    <meta name="title" content="{{ 'front.my_adverts'|trans }}">
    <meta name="description" content="{{ 'front.my_adverts'|trans }}">
    <meta property="og:title" content="{{ 'front.my_adverts'|trans }}">
    <meta name="keywords" content="{{ 'front.my_adverts'|trans }}">
{% endblock %}


{% block body %}

    <div role="main" class="main">

        <section class="page-header page-header-classic">
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col p-static">
                        <h1 data-title-border>{{ 'front.my_adverts'|trans }}</h1>

                    </div>
                </div>
            </div>
        </section>

        <div class="container py-2">

            <div class="row">
                <div class="col-lg-3 mt-4 mt-lg-0">

                    <div class="d-flex justify-content-center mb-4">
                        <div class="profile-image-outer-container">
                            <div class="profile-image-inner-container bg-color-primary">
                                <img src="{{ asset('uploads/members/'~app.user.image) }}" id="picture">
                            </div>
                        </div>
                    </div>

                    <aside class="sidebar mt-2" id="sidebar">
                        <ul class="nav nav-list flex-column mb-5">
                            <li class="nav-item"><a class="nav-link" href="{{ path('front_security_profile') }}">{{ 'front.myinfo'|trans }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('front_profile_adverts') }}">{{ 'front.my_adverts'|trans }}</a></li>
                            <li class="nav-item"><a class="nav-link text-dark active" href="{{ path('front_profile_wishes') }}">{{ 'front.wish.list'|trans }}</a></li>
                        </ul>
                    </aside>

                </div>
                <div class="col-lg-9 col-md-9" id="response">
                    <div class="overflow-hidden mb-1">
                        <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">{{ 'front.my_adverts'|trans }}</strong></h2>
                    </div>
                    <div class="overflow-hidden mb-4 pb-3">
                        <p class="mb-0"></p>
                    </div>

                    <div class="col-md-12 row advert-portal">
                        {% for advert in adverts %}
                            <div class="col-md-12 col-lg-12 isotope-item mb-4 profile">
                                <div class="listing-item search">
                                    <a href="{{ path('front_advert_single', {id: advert.id}) }}" class="text-decoration-none">
                                        <div class="thumb-info thumb-info-lighten border advert" style="display: flex;">
                                            <div class="thumb-info-wrapper m-0" style="width: 50%;">
                                                <img src="{{ asset('uploads/' ~ advert.images ~ '/0.png') }}" class="img-fluid"
                                                     alt="{{ advert.title }}" id="advert-img-{{ advert.id }}">

                                                <div class="thumb-info-listing-type bg-color-secondary text-uppercase text-color-light font-weight-semibold p-1 pl-3 pr-3 {% if app.request.locale == 'ar' %} advertType {% endif %}">
                                                    {{ advert.advertType ? advert.advertType.code|lower|trans : '' }}
                                                </div>
                                            </div>
                                            <div class="details" style="width: 50%;">
                                                <div class="thumb-info-price bg-color-dark text-color-light text-4 p-2 pl-4 pr-4" id="advert-price-{{ advert.id }}">
                                                    {% if advert.advertType.code == 'sell' %}
                                                        {{ advert.price|number_format(0, '.', ',') }} {{ 'front.currency.dh'|trans }}
                                                    {% elseif advert.advertType.code == 'rent' %}
                                                        {% if advert.rentType == 'year' %}
                                                            {{ advert.price|number_format(0, '.', ',') }} {{ 'front.currency.dh.year'|trans }}
                                                        {% elseif advert.rentType == 'month' %}
                                                            {{ advert.price|number_format(0, '.', ',') }} {{ 'front.currency.dh.month'|trans }}
                                                        {% else %}
                                                            {{ advert.price|number_format(0, '.', ',') }} {{ 'front.currency.dh.day'|trans }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="custom-thumb-info-title b-normal p-4">
                                                    <div class="thumb-info-inner text-4 mb-1 title" id="advert-title-{{ advert.id }}" style="font-size: 1.1em !important;">{{ advert.title }}</div>
                                                    <div class="thumb-info-inner text-3 mb-3"><i class="fa fa-map-marker-alt"></i>
                                                        {% if advert.quartier %}
                                                            {{ advert.quartier.code|trans }}, {{ advert.quartier.city.code|trans }}
                                                        {% elseif advert.city %}
                                                            {{ advert.city.code|trans }}, {{ advert.province.code|trans }}
                                                        {% else %}
                                                            {{ advert.province.code|trans }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="thumb-info-inner text-4" style="color: #4488cd;">
                                                        {{ advert.estateType ? advert.estateType.code | trans : ' '}}
                                                        <span style="color: #000; font-size: 1rem; float: inline-end;">{{ advert.area }} {{'front.metre.carre'|trans }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-12 mb-4 text-center">
                                {{ 'front.no_result'|trans }}
                            </div>
                        {% endfor %}
                    </div>
                    {% if page_count >0 %}
                        <div class="col-md-12 my-5">
                            <ul class="pagination justify-content-center">
                                {% if 1 != current_page %}
                                    <li class="page-item {{ (1==current_page)?'disabled':'' }}">
                                        <a class="page-link paginate" href="{{ path('front_profile_adverts', {page: current_page-1}) }}">
                                            <i class="fas {{ app.request.locale != 'ar' ? 'fa-angle-left' : 'fa-angle-right'}}"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                {%  for page in 1..page_count %}
                                    <li class="page-item {{ (page==current_page)?'active':'' }}">
                                        <a class="page-link paginate" href="{{ path('front_profile_adverts', {page: page}) }}" >{{ page }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_count != current_page %}
                                    <li class="page-item {{ (page_count==current_page)?'disabled':'' }}">
                                        <a class="page-link paginate" href="{{ path('front_profile_adverts', {page: current_page+1}) }}">
                                            <i class="fas {{ app.request.locale == 'ar' ? 'fa-angle-left' : 'fa-angle-right'}}"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock body %}
