<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'admin.password.recover' |trans }}</title>
</head>
<body>
<div>
   <h4>{{ 'hello'|trans }} {{ user.firstName }}</h4>
    <p style="font-size: 15px;">
        {{ 'admin.password.email.content' |trans }} :</p>
    <p style="font-size: 15px;">
        <a href="{{ url }}">{{ url }}</a>
    </p>
    <p style="font-size: 15px;">
        <br/>
        {{ 'enjoy'|trans }}
    </p>
</div>
</body>
</html>
