<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'front.advert.confirm' |trans }}</title>
</head>
<body>
<div>
   <h4>{{ 'hello'|trans }} {{ member.firstName }}</h4>
    <p style="font-size: 15px;">
        {{ 'front.advert.confirm.email.content' |trans }}</p>
    <p style="font-size: 15px;">
        <br/>
        {{ 'enjoy'|trans }}
    </p>
</div>
</body>
</html>
