<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>{{ 'front.getintouch'|trans }}</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3">{{ 'rent'| trans }}</h5>
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-rent', {'city': 'casablanca', 'cityId': 46, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.casablanca'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0"><a href="{{ path('search-advert-footer-rent', {'city': 'marrakech', 'cityId': 58, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.marrakech'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-rent', {'city': 'rabat', 'cityId': 34, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.rabat'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-rent', {'city': 'tanger', 'cityId': 15, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.tanger'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-rent', {'city': 'agadir', 'cityId': 72, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.agadir'|trans }}
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3">{{ 'sell'| trans }}</h5>
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'casablanca', 'cityId': 46, 'estate': 'apartment', 'advertType': 1, 'estateType':1}) }}">
                                    {{ 'front.sell.apartment.casablanca'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'marrakech', 'cityId': 58, 'estate': 'house', 'advertType': 1, 'estateType':2}) }}">
                                    {{ 'front.sell.house.marrakech'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'rabat', 'cityId': 34, 'estate': 'apartment', 'advertType': 1, 'estateType':1}) }}">
                                    {{ 'front.sell.apartment.rabat'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'tanger', 'cityId': 15, 'estate': 'villa', 'advertType': 1, 'estateType':4}) }}">
                                    {{ 'front.sell.villa.tanger'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'agadir', 'cityId': 72, 'estate': 'apartment', 'advertType': 1, 'estateType':1}) }}">
                                    {{ 'front.sell.apartment.agadir'|trans }}
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3">{{ 'front.most.searchable'| trans }}</h5>
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'casablanca', 'cityId': 46, 'estate': 'house', 'advertType': 1, 'estateType':2}) }}">
                                    {{ 'front.sell.house.casablanca'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-rent', {'city': 'marrakech', 'cityId': 58, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.marrakech'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'rabat', 'cityId': 34, 'estate': 'villa', 'advertType': 1, 'estateType':4}) }}">
                                    {{ 'front.sell.villa.rabat'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-rent', {'city': 'tanger', 'cityId': 15, 'estate': 'apartment', 'advertType': 2, 'estateType':1}) }}">
                                    {{ 'front.rent.apartment.tanger'|trans }}
                                </a>
                            </p>
                        </li>
                        <li class="mb-1"><i class="fas fa-angle-right text-color-primary"></i>
                            <p class="m-0">
                                <a href="{{ path('search-advert-footer-sell', {'city': 'agadir', 'cityId': 72, 'estate': 'house', 'advertType': 1, 'estateType':2}) }}">
                                    {{ 'front.sell.house.agadir'|trans }}
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="text-3 mb-3">{{ 'front.followus'|trans }}</h5>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                    <a href="{{ path('front_index') }}" class="logo pr-0 pr-lg-3">
                        <img alt="{{ 'title'|trans }}" src="{{ asset('img/logo-footer.png') }}" class="opacity-5" height="33">
                    </a>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p>© Copyright 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <nav id="sub-menu">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><a href="#" class="ml-1 text-decoration-none"> {{ 'front.faq'|trans }}</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="#" class="ml-1 text-decoration-none"> {{ 'front.terms-and-condition'|trans }}</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="{{ path('contact_us') }}" class="ml-1 text-decoration-none"> {{ 'front.contactus'|trans }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
