{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.code) }}
    {{ form_widget(form.code) }}
</div>
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
</div>
<div class="form-group">
    {{ form_label(form.enabled) }}
    {{ form_widget(form.enabled) }}
</div>
<div class="form-group">
    <button class="btn btn-success btn-sm">{{ button_label|default('admin.save')|trans }}</button>
</div>

{{ form_end(form) }}
