{% extends 'base-back.html.twig' %}

{% block title %}{{ 'admin.provinces.management' | trans }}{% endblock %}

{% block body %}
    <header class="page-header">
        <h2>{{ 'admin.provinces.management' | trans }}</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                </li>
                <li><span>{{ 'admin.provinces' | trans }}</span></li>
                <li><span>{{ 'admin.list' | trans }}</span></li>
            </ol>

            <a class="sidebar-right-toggle" href="#"></a>
        </div>
    </header>

    <div class="row">
        <div class="col">
            <section class="card card-warning">
                <header class="card-header">
                    <h2 class="card-title"></h2>
                </header>
                <div class="card-body">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <a class="btn btn-primary btn-sm" href="{{ path('province_new') }}">{{ 'admin.add'|trans }} <i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                        <tr>
                            <th>{{ 'admin.code' | trans }}</th>
                            <th>{{ 'admin.name' | trans }}</th>
                            <th>{{ 'admin.status' | trans }}</th>
                            <th>{{ 'admin.region' | trans }}</th>
                            <th>{{ 'admin.create_date' | trans }}</th>
                            <th>{{ 'admin.actions' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for province in provinces %}
                            <tr>
                                <td>{{ province.code }}</td>
                                <td>{{ province.name }}</td>
                                <td>{{ province.enabled ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</td>
                                <td>{{ province.region.name }}</td>
                                <td>{{ province.createDate ? province.createDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('province_show', {'id': province.id}) }}"><i class="fas fa-eye"></i></a>
                                    <a href="{{ path('province_edit', {'id': province.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">{{ 'admin.no_records_found' | trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
