{% extends 'base-back.html.twig' %}

{% block title %}{{ 'admin.quartiers.management' | trans }}{% endblock %}

{% block body %}
    <header class="page-header">
        <h2>{{ 'admin.quartiers.management' | trans }}</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                </li>
                <li><span>{{ 'admin.quartiers' | trans }}</span></li>
                <li><span>{{ 'admin.details' | trans }}</span></li>
            </ol>

            <a class="sidebar-right-toggle" href="#"></a>
        </div>
    </header>
    <div class="row">
        <div class="col-md-8">
            <section class="card card-warning">
                <header class="card-header">
                    <h2 class="card-title">{{ 'admin.informations' | trans }}</h2>
                </header>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>{{ 'admin.id' | trans }}</th>
                            <td>{{ quartier.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin.code' | trans }}</th>
                            <td>{{ quartier.code }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin.name' | trans }}</th>
                            <td>{{ quartier.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin.province' | trans }}</th>
                            <td>{{ quartier.province.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin.status' | trans }}</th>
                            <td>{{ quartier.enabled ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin.create_date' | trans }}</th>
                            <td>{{ quartier.createDate ? quartier.createDate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="card card-warning">
                <header class="card-header">
                    <h2 class="card-title">{{ 'admin.actions' | trans }}</h2>
                </header>
                <div class="card-body">
                    <a href="{{ path('quartier_index') }}"
                       class="btn btn-info btn-sm">{{ 'admin.backtolist' | trans }}</a>

                    <a href="{{ path('quartier_edit', {'id': quartier.id}) }}"
                       class="btn btn-success btn-sm">{{ 'admin.update' | trans }}</a>

                    {{ include('backend/quartier/_delete_form.html.twig') }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
