<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {% include('backend/includes/include-css.html.twig') %}
    {% endblock %}

</head>
<body>
<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="#" class="logo float-left">
            <img src="{{ asset('img/logo.png') }}" height="54" alt="Porto Admin" />
        </a>

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-right">
                <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> {{ 'admin.password.reset'|trans }}</h2>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" id="errors_div" style="display: none;">

                </div>
                <div class="alert alert-success" id="success_div" style="display: none;">

                </div>
                <form action="#">
                    <div class="form-group mb-3">
                        <label>{{ 'admin.password' |trans }}</label>
                        <div class="input-group">
                            <input name="password-first" id="password-first" type="password" class="form-control form-control-lg"  required=""/>
                            <span class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-lock"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="clearfix">
                            <label class="float-left">{{ 'admin.confirm_password' |trans }}</label>
                        </div>
                        <div class="input-group">
                            <input name="password-second" id="password-second" type="password" class="form-control form-control-lg" required="" />
                            <span class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-lock"></i>
										</span>
									</span>
                        </div>
                    </div>
                    <input type="hidden" name="token" id="token" value="{{ token }}">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox-custom checkbox-default">

                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="submit" class="btn btn-primary mt-2" id="reset-password">{{ 'admin.reset'|trans }}</button>
                        </div>
                    </div>
                    <p class="text-center mt-3"> <a href="{{ path('security_login') }}">{{ 'admin.signin'|trans }}!</a></p>
                </form>
            </div>
        </div>

        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2020. All Rights Reserved.</p>
    </div>
</section>

{% block javascripts %}
    {% include('backend/includes/include-js.html.twig') %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#reset-password').on('click', function () {
                let $password_first = $('#password-first').val();
                let $password_second = $('#password-second').val();
                let $token = $('#token').val();

                let errorsDiv = $('#errors_div');
                let successDiv = $('#success_div');

                if ($password_first !== $password_second){
                    errorsDiv.show();
                    errorsDiv.html(' ');
                    errorsDiv.append("<p class='m-0'>{{ 'admin.password.not_match'|trans }}</p>");
                } else{
                    $.ajax({
                        url: "{{ path('security_reset_password') }}",
                        data: JSON.stringify({password: $password_first, token: $token}),
                        dataType: "json",
                        method : "POST",
                        contentType: 'application/json',
                        success: function (data) {
                            if(data.code == '0'){
                                successDiv.show();
                                successDiv.html(' ');
                                successDiv.append("<p class='m-0'>"+data.response.message+"</p>");
                            }
                            else if (data.code == '-1'){
                                errorsDiv.show();
                                errorsDiv.html(' ');
                                errorsDiv.append("<p class='m-0'>"+data.response.message+"</p>");
                            }
                        },
                        error: function (a, b, c) {
                            console.log(a, b, c);
                        },
                        complete:function () {
                            setTimeout(function(){
                                errorsDiv.hide();
                                successDiv.hide();
                            }, 4000);
                        }
                    });
                }

                return false;

            });
        });
    </script>
{% endblock %}
</body>
</html>
